// ===========================================================================
// TOWN
// ===========================================================================
.Town,
.Summoning {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.town-area {
  background-image: url('../images/town2.png');
  height: 948px;
  min-width: 1440px;
  background-size: cover;
  position: relative;

  .energy-gauge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 6%;
    height: 4%;
    background-color: black;
    border: 1.7px solid rgb(145, 154, 154);
    border-radius: 4px;
    top: 3%;
    left: 92%;

    img {
      height: 25px;
      width: 25px;
    }

    .energy-num {
      color: white;
      vertical-align: middle;
    }
  }

  .hotspot {
    position: absolute;
    width: 2%;
    height: 2%;
    cursor: pointer;
    display: block;
    white-space: nowrap;

    a {
      text-decoration: none;
      color: #ffff61;
    }
  }

  .hotspot.hide {
    -webkit-animation: fade-out 1s forwards;
    animation: fade-out 1s forwards;
  }

  .hotspot:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: map-location-pulse 2s infinite;
    animation: map-location-pulse 2s infinite;
    content: " ";
    width: 8px;
    height: 8px;
    background-color: #f2ff42;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #f2ff42;
  }

  @-webkit-keyframes map-location-pulse {
    0% {
      -webkit-transform: scale(.1);
      transform: scale(.1);
      box-shadow: 0 0 30px 15px #f2ff42, 0 0 50px 30px #f2ff42, 0 0 70px 45px #f2ff42
    }

    50% {
      -webkit-transform: scale(.2);
      transform: scale(.2);
      box-shadow: 0 0 30px 15px #f2ff42, 0 0 50px 30px #f2ff42, 0 0 70px 45px #f2ff42
    }

    to {
      -webkit-transform: scale(.1);
      transform: scale(.1);
      box-shadow: 0 0 30px 15px #f2ff42, 0 0 50px 30px #f2ff42, 0 0 70px 45px #f2ff42
    }
  }

  @keyframes map-location-pulse {
    0% {
      -webkit-transform: scale(.1);
      transform: scale(.1);
      box-shadow: 0 0 30px 15px #f2ff42, 0 0 50px 30px #f2ff42, 0 0 70px 45px #f2ff42
    }

    50% {
      -webkit-transform: scale(.2);
      transform: scale(.2);
      box-shadow: 0 0 30px 15px #f2ff42, 0 0 50px 30px #f2ff42, 0 0 70px 45px #f2ff42
    }

    to {
      -webkit-transform: scale(.1);
      transform: scale(.1);
      box-shadow: 0 0 30px 15px #f2ff42, 0 0 50px 30px #f2ff42, 0 0 70px 45px #f2ff42
    }
  }
}

.location-text,
.location-soon {
  width: 200px;
  text-align: center;
  font-family: alagard;
  color: #ffff61;
  position: absolute;
  left: -75px;
  text-shadow: 1px 1px 0 #c74c4c, -1px -1px 0 #8a1e1e, 1px -1px 0 #8a1e1e, -1px 1px 0 #8a1e1e, 1px 1px 0 #8a1e1e;
}

.location-text {
  top: -40px;
  font-size: 1rem;
}

.location-soon {
  top: -20px;
  font-size: 0.7rem;
}

#barracks {
  top: 42%;
  left: 16.5%;
}

#summoning-ground {
  top: 27.5%;
  left: 40.5%;
}

#dungeons {
  top: 37%;
  left: 61.5%;
}

#blacksmith {
  top: 83%;
  left: 35.3%;
}

// ===========================================================================
// SUMMONING
// ===========================================================================

.summoning-area {
  background-image: url('../images/town2blur.png');
  height: 948px;
  background-size: cover;

  .summon-heading {
    margin-top: 3rem;
    font-size: 2rem;
  }
}

.scroll-container {
  background-color: rgb(141, 141, 141);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  box-shadow: 10px 10px 0 rgb(0 0 0 / 75%);

  .scroll {
    font-size: 1.5rem;
    background-color: antiquewhite;
    margin: 15px;
  }
}

.scroll-container2 {
  background-color: rgb(141, 141, 141);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 10px 10px 0 rgb(0 0 0 / 75%);

  .summon-message {
    font-size: 3rem;
  }
}

.town-return {
  position: relative;
  bottom: -10%;


  a {
    background-color: beige;
  }
}